{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Who Played With Whom?</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>
    <div>
        <h1>D3 Visualization with Django!</h1>
        <button type="button" id='update'> UPDATE </button>
    </div>
    <div>
        <script src="../static/lib/d3/d3.v3.min.js"></script>
        <script type='text/javascript' src="../static/lib/d3/d3-tip.js"> </script>
        <script src="../static/lib/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/static/javascript/visualizationD3.js"></script>
   	</div>
</body>
</html>